<!DOCTYPE html>
<html lang="en">
  <head>
    {# This is the base template for the site–other templates extend this one #}

    <meta charset="utf-8" />
    <link
      rel="icon"
      href="https://cdn.some.pics/thegreekgeek/677c6f3894200.png"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Your new 11ty blog" />
    <link rel="me" href="https://github.com/thegreekgeek" />
    <span class="p-author h-card" style="display: none">
      <a
        class="u-url u-uid p-name"
        rel="me"
        href="http://tilde.club/~thegreekgeek"
        rel="author"
        >Rob Y</a
      >
      <p class="p-note">I'm Rob, and I like to tinker with things.</p>
      <img
        class="u-photo"
        src="https://cdn.some.pics/thegreekgeek/677c6f3894200.png"
        alt="Rob Y avatar"
      />
    </span>
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <link href="https://uchu.style/color.css" rel="stylesheet" />
    {% seo "" %}
  </head>
  <!-- <header class="header"></header> -->
  <body>
    <div id="container">
      <div id="headerArea"></div>
      <nav id="navbar" style="margin-bottom: 0px">
        <div class="links navbar">
          <a href="/">Home</a>
          <span class="divider">|</span>
          <a href="/posts">Posts</a>
          <span class="divider">|</span>
          <a href="/notes">Notes</a>
          <span class="divider">|</span>
          <a href="/projects">Projects</a>

          <span class="divider">|</span>
          <a href="/slashes/">Slashes</a>
        </div>
      </nav>

      <div id="flex">
        <main>
          {{ content | safe }}
        </main>
        <aside id="rightSidebar" style="margin-left: 0px">
          <h2>Hi there!</h2>
          <h3>Status.lol</h3>
          <script src="https://status.lol/thegreekgeek.js?time&link&fluent"></script>
        </aside>
      </div>
      <footer id="footer" class="footer" style="margin-top: 0px">
      <!-- Begin Tilde Club Badge -->
<center>
<p><a href="http://tilde.club"><img src="http://tilde.club/~zarate/tildeclub.gif" border="0" width="88" height="31" alt="Tilde Club Badge"></a></p>
</center>
<!-- End Tilde Club Badge -->

      </footer>
    </div>
  </body>
</html>
