<!DOCTYPE html>
<html lang="en">
  <head>
    
    {# This is the base template for the site–other templates extend this one #}
    
    <meta charset="utf-8" />
    <link rel="icon" href="https://cdn.some.pics/thegreekgeek/677c6f3894200.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Your new 11ty blog" />
    <link rel="me" href="https://github.com/thegreekgeek" />
    <span class="p-author h-card" style="display: none">
      <a class="p-name" href="https://thegreekgeek.neocities.org" rel="author">Robert Young</a>
      <p class="p-note">I'm Rob, and I like to tinker with things.</p>
      <img class="u-photo" src="https://cdn.some.pics/thegreekgeek/677c6f3894200.png" alt="Robert Young's avatar">
    </span>
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
      <link href="https://uchu.style/color.css" rel="stylesheet"/>
    {% seo "" %}
  </head>
  <header class="header">
      <div class="links navbar">
        <a href="/">Home</a>
        <span class="divider">|</span>
        <a href="/posts">Posts</a>
        <span class="divider">|</span>
        <a href="/notes">Notes</a>
        <span class="divider">|</span>
        <a href="/about">About</a>
        <span class="divider">|</span>
        <a href="/slashes/">Slashes</a>
      </div>
  </header>
  <body>
  <main>
    
    {# Page or post content will appear here #}
  
    {{ content | safe }}

      <footer class="footer">

      </footer>
    
  </main>
   
  </body>
</html>