---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# The Home page uses this template–it extends the base template #}

<div class="wrapper home">
  <div class="content">
    {{ content | safe }}
    
    {# After the the content defined in index.md, list the blog posts in the collection #}
    <ul>
      {%- for post in collections.frontpage -%}
      {% include "_li.njk" %}
      {%- endfor -%}
      <li><a href="/posts">View all posts</a></li>
    </ul>
  </div>
</div>