---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# The Home page uses this template–it extends the base template #}

<div class="wrapper home">
  <div class="content">
    {{ content | safe }}
    
    {# After the the content defined in index.md, list the blog posts in the collection #}
    <ul>
      {%- for post in collections.frontpage -%}
        <li{% if page.url == post.url %} aria-current="page"{% endif %}>{{ post.data.page.date | htmlDateString }} — <a href='{{ post.url }}'>{% if post.data.title %}{{ post.data.title }}{% else %}{{ post.data.page.date | htmlDateString }}{% endif %}</a></li>
         <li> {{ post.data.content | safe }} </li>
      {%- endfor -%}
      <li><a href="/posts">View all posts</a></li>
    </ul>
  </div>
</div>