---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# This is the template for the projects page–it lists the projects in the collection #}

<div class="wrapper home">
  <div class="content">
    {{ content | safe }}
    <ul>
      {%- for project in collections.projects -%}
        <li{% if page.url == project.url %} aria-current="page"{% endif %}>{{ project.data.page.date | htmlDateString }} — <a href='{{ project.url }}'>{{ project.data.title }}</a></li>
      {%- endfor -%}
    </ul>
  </div>
</div>