---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# This is the template for individual blog posts–it builds the front matter
properties into the page #}

<div class="wrapper post">
  <article class="h-entry">
    {# The post front matter includes the title property #}
    <h1 class="postTitle p-name">{{ title }}</h1>
    <details>
      <a class="u-url" href="{{ page.data.permalink }}">
        <time class="dt-published" datetime="{{ date | isoDateString }}">
          posted: {{ date | htmlDateString }}
        </time>
      </a>
      <a rel="author" class="p-author h-card" href="/">Robert Y</a>
    </details>
    {# ADD P ELEMENT FROM TODO ON THE NEXT LINE #} {# Content from the body of
    the post markdown appears here #}
    <div class="e-content">{{ content | safe }}</div>
    <div class="controls">
      {# The previous and next post data is added in .eleventy.js #} {% if
      prevPost.url %}
      <p>
        <strong>Previous post</strong>:
        <a class="previous" href="{{ prevPost.url }}">{{
          prevPost.data.title
        }}</a>
      </p>
      {% endif %} {% if nextPost.url %}
      <p>
        <strong>Next post</strong>:
        <a class="next" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
      </p>
      {% endif %}
    </div>
  </article>
</div>
