---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# This is the template for the Slash landing page–it lists the slash pages in the collection #}

<div class="wrapper home">
  <div class="content">
    {{ content | safe }}
    <ul>
      {%- for page in collections.slashes -%}
        <li{% if page.url == slash.url %} aria-current="page"{% endif %}><a href="{{ page.data.permalink }}">{{ page.data.title }}</a> // last edited {{ page.data.page.date | htmlDateString }}</li>
      {%- endfor -%}
    </ul>
  </div>
</div>