---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# This is the template for the Posts page–it lists the posts in the collection #}

<div class="wrapper home">
  <div class="content">
    {{ content | safe }}
    <ul>
      {%- for slash in collections.slashes -%}
        <li{% if page.url == slash.url %} aria-current="page"{% endif %}><a href='{{ slash.url }}'>{{ slash.data.title }}</a> // last edited {{ slash.data.page.date | htmlDateString }}</li>
      {%- endfor -%}
    </ul>
  </div>
</div>