---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# This is the template for the Posts page–it lists the posts in the collection #}

<div class="wrapper home">
  <div class="content">
    {{ content | safe }}
 <ul>
      {%- for page in collections.slashes -%}
        <li{% if page.url == slash.url %} aria-current="page"{% endif %}>{{ page.data.page.date | htmlDateString }} — <a href='{{ page.url }}'>{{ page.data.title }}</a></li>
      {%- endfor -%}
    </ul>
  </div>
</div>